main {
    background-image:url(/images/Mainpicture.jpg);
    height:auto;
    background-repeat: no-repeat;
    background-size:cover;
    color:#fff;
}
h1 {
    font-size:1.6em;
    font-weight:500;
    margin-top:75px;
}
h2 {
    font-size:1em;
    margin-top:50px;
}
fieldset {
    max-width:75%;
    text-align:left;
    height:auto;
    border:none;
    margin:0px auto;
}
textarea {
    margin-top:15px;
    margin-bottom:45px;
}
.cta {
    padding:10px;
    margin:
}
#name {
    margin:10px;
}
#email {
    margin:10px;
}
#message {
    margin:10px;
    height:auto;
}
footer {
    margin:
}