body {
    background-image:url(/images/Mainpicture.jpg);
    height:auto;
    background-repeat: no-repeat;
    background-size:cover;
    color:#fff;
}

h1 {
    font-weight:500;
    text-shadow:2px 2px 4px black;
}

fieldset {
    text-align:left;
    border:none;
    width:75%;
    margin:0px auto;
    margin-top:100px;
}
textarea {
    width:250px;
    margin-top:15px;
    margin-bottom:50px;
}
.text {
    font-weight:100;
    font-size:1.2em;
    text-shadow:2px 2px 4px black;
}
.cta-contact {
    background:var(--purple-color-gradient);
    font-size:1em;
    text-align:center;
    width:125px;
    padding:15px;
    transition:all 0.5s;
}
.cta-contact:hover {
    background:var(--blue-color-gradient);
}
#name {
    margin:10px;
}
#email {
    margin:10px;
}
#message {
    margin:10px;
}
footer{
    margin-top:100px;
    padding:30px;
}
/*message sent page*/
.message-sent-page {
    width:50%;
    max-width:400px;
    margin:0px auto;
    margin-top:230px;
    margin-bottom:225px;
}
.message-sent-text {
    margin-bottom:60px;
    margin-top:20px;
}
/* -------------*/


@media (min-width:600px) {
    h1 {
        margin-top:150px;
    }
    fieldset {
        text-align:left;
        height:auto;
        border:none;
        max-width:30%;
        margin:0px auto;
    }
    textarea {
        width:auto;
        margin-top:15px;
        margin-bottom:45px;
    }
}
@media (min-width:1300px) {
    h1 {
        font-size:2.5em;
        margin-top:250px;
    }
    body {
    }
}