/*MOBILE*/
/*text styling*/
h1 {
    font-size:1.8em;
    width:50%;
    text-align:center;
    color:var(--white-text-color);
    background-color:var(--background-text-blur);
    position:absolute;
    margin-left:25%;
    margin-top:65px;
    padding:5px;
}
h2 {
    font-size:1.5em;
    margin-top:50px;
    opacity:75%;
    margin-bottom:30px;
}
h4 {
    font-size:1.3em;
    background-color:var(--background-text-blur);
    font-weight:100;
    text-align:center;
    color:var(--white-text-color);
    width:65%;
    margin:0px auto;
    margin-top:60px;
}
h5 {
    color:#000;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:white;
}
.section-1 {
    max-width:75%;
    margin:0px auto;
}
.center-aligned-text{
    text-align:center;
    font-weight:600;
    font-style:italic;
    opacity:75%;
    margin-top:40px;
    margin-bottom:40px;
}
.italic-text{
    font-style:italic;
    max-width:50%;
    margin:0px auto;
    margin-top:75px;
    margin-bottom:50px;
}
/*blue exhibitions/h3 header*/
h3 {
    font-size:1.4em;
    text-align:left;
    color:var(--white-text-color);
    background:var(--blue-color-gradient);
    max-width:150px;
    padding:10px 0px 10px 20px;
    margin:0px;
}




