/*MOBILE*/

/*text styling*/
h1 {
    width:200px;
    font-size:2em;
    text-align:center;
    color:var(--white-text-color);
    margin:0 auto;
    margin-top:80px;
    padding:5px;
    font-weight:300;
    text-shadow:var(--text-shadow);
    position: relative;
    z-index: 50;
    
}
h2 {
    margin-top:50px;
    opacity:75%;
    margin-bottom:30px;
}
/*blue exhibitions/h3 header*/
h3 {
    font-size:1.4em;
    text-align: center;
    color:var(--white-text-color);
    background:var(--blue-color-gradient);
    width:65%;
    padding:10px 0;
    margin:0;
}
h4 {
    font-size:1.4em;
    font-family: var(--main-font);
    background-color:var(--background-text-blur);
    font-weight:100;
    text-align:center;
    color:var(--white-text-color);
    margin:0px auto;
    margin-top:35px;
    width:50%;
    padding:5px 10px;
    text-shadow:var(--text-shadow);
}
h5 {
    color:#000;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:white;
}
.section-1 {
    width:75%;
    max-width:600px;
    margin:0px auto;
}
.center-aligned-text{
    text-align:center;
    font-weight:600;
    font-style:italic;
    opacity:75%;
    margin-top:40px;
    margin-bottom:40px;
}
.italic-text{
    font-style:italic;
    width:50%;
    max-width:600px;
    margin:0px auto;
    margin-top:75px;
    margin-bottom:50px;
}

/*Media Queries*/
@media (min-width: 600px){
    h1 {
        margin-top:125px;
    }
    h4 {
        font-size:2em;
        margin-top:85px;
        width:65%;
        max-width:500px;
    }
    /*blue exhibitions/h3 header*/
    h3 {
        width:50%;
        margin:0;
    }
}
@media (min-width: 1000px){
    h1 {
        font-size:3em;
        margin-top:200px;
        padding:15px 0px;
        width:250px;
    }
    h2 {
        font-size:2em;
        margin-top:75px;
        opacity:75%;
        margin-bottom:30px;
    }
    h4 {
        font-size:2.5em;
        margin-top:100px;
        max-width:700px;
    }
    .center-aligned-text{
        font-size:1.3em;
        margin-top:65px;
        margin-bottom:85px;
    }
    /*blue exhibitions/h3 header*/
    h3 {
        font-size:1.8em;
        max-width:38%;
    }
}

@media (min-width: 1300px){
    h1 {
        margin-top:200px;

    }
    h2 {
        font-size:2em;
        margin-top:75px;
    }
    h4 {
        font-size:3em;
        margin-top:100px;
    }
    .center-aligned-text{
        font-size:1.3em;
        margin-top:65px;
        margin-bottom:85px;
    }
    /*blue exhibitions/h3 header*/
    h3 {
        font-size:2em;
    }

}


