/*MOBILE*/

/*text styling*/
h1 {
    width:50%;
    text-align:center;
    color:var(--white-text-color);
    background-color:var(--background-text-blur);
    position:absolute;
    margin-left:25%;
    margin-top:65px;
    padding:5px;
    font-weight:300;
    text-shadow:var(--text-shadow);
    
}
h2 {
    margin-top:50px;
    opacity:75%;
    margin-bottom:30px;
}
h4 {
    font-size:1.7em;
    background-color:var(--background-text-blur);
    font-weight:100;
    text-align:center;
    color:var(--white-text-color);
    width:65%;
    margin:0px auto;
    margin-top:60px;
    text-shadow:var(--text-shadow);
}
h5 {
    color:#000;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:white;
}
.section-1 {
    width:75%;
    max-width:600px;
    margin:0px auto;
}
.center-aligned-text{
    text-align:center;
    font-weight:600;
    font-style:italic;
    opacity:75%;
    margin-top:40px;
    margin-bottom:40px;
}
.italic-text{
    font-style:italic;
    width:50%;
    max-width:600px;
    margin:0px auto;
    margin-top:75px;
    margin-bottom:50px;
}
/*blue exhibitions/h3 header*/
h3 {
    font-size:1.4em;
    text-align:left;
    color:var(--white-text-color);
    background:var(--blue-color-gradient);
    max-width:150px;
    padding:10px 0px 10px 20px;
    margin:0px;
    text-shadow:var(--text-shadow);
}


/*Media Queries*/
@media (min-width: 600px){
    h1 {
        margin-top:100px;
    }
    h4 {
        font-size:2.2em;
        margin-top:60px;
    }
}

@media (min-width: 800px){
    h1 {
        font-size:3em;
        margin-top:125px;
        padding:15px 0px;
    }
    h2 {
        font-size:2em;
        margin-top:75px;
        opacity:75%;
        margin-bottom:30px;
    }
    h4 {
        font-size:2.5em;
        margin-top:100px;
    }
    .center-aligned-text{
        font-size:1.3em;
        margin-top:65px;
        margin-bottom:85px;
    }
    /*blue exhibitions/h3 header*/
    h3 {
        font-size:1.8em;
        max-width:175px;
        padding:10px 15px 10px 20px;
    }
}

@media (min-width: 1300px){
    h1 {
        margin-top:250px;

    }
    h2 {
        font-size:2em;
        margin-top:75px;
    }
    h4 {
        font-size:3em;
        margin-top:135px;
    }
    .center-aligned-text{
        font-size:1.3em;
        margin-top:65px;
        margin-bottom:85px;
    }
    /*blue exhibitions/h3 header*/
    h3 {
        font-size:2.2em;
        max-width:225px;
        padding:10px 15px 10px 20px;
    }

}


