
/*custom properties*/

:root {    
--white-text-color:#fff;
--blue-color:#0342A6;
--purple-color:#5B2ADE;
--background-text-blur:rgba(20, 20, 20, 0.7);
--blue-color-gradient:linear-gradient(to right bottom,#0460C9 , #0447CC, #03318C, #021946, #011640);
--purple-color-gradient:linear-gradient( to right bottom,#6B39F1, #5627D3, #441AB2, #2E107D, #1D0953, #14063A);
}
.main {
    max-width:1300px;
    margin:0px auto;
}
/*hamburger menu*/

header nav li a {
    color:#000;
    text-decoration:underline ;
}
nav li {
    margin-top:25px;
}
nav ul {
    list-style-type:none;
}
nav {
    font-family:georgia, serif, verdana;
    display:none;
    background-color:#fff;
    font-size:1.1em;
    font-weight:500;
    position:absolute;
    right:0;
    padding-top:20px;
    padding-right:75px;
    padding-left:20px;
    padding-bottom:20px;
    z-index:1;
    margin-top:15px;
}

#hamburger-menu {
    display:none;
}
#hamburger-menu:checked ~ nav {
    display:block;
}
.drop-down {
    position:relative;
    margin-top:20px;
}
.fas {
    font-size:1.4em;
    margin-right:35px;
}
.inactive{
    opacity:50%;
    text-decoration:none;
}

/* Mobile first */


h1, h2, h3,h4, h5{
    font-family: Georgia, serif;
}
h1 {
    font-size:2em;
}
h2 {
    font-size:1.6em;
}
li { 
   text-decoration:none; 
}
body {
    font-family:verdana, Tahoma, sans-serif;
    margin:0px;
}
header {
    position:fixed;
    top:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#fff;
    width:100%;
    z-index:1;
}
a {
    color:#fff;
    text-decoration:none;
}
p{
    line-height:1.3;
}
/*contact link*/


.contact {
    color:var(--blue-color);
}


/*half-screen images for "explore" and "visit"*/


.images {
    min-width:50%;
    height:350px;
    object-fit:cover;
}
.flex {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}


/*for "explore" and "visit" category half-screen text*/

.category-text {
    margin:0px auto;
    max-width:65%;
}
.text-width {
    min-width:50%;
}

/*icons/LOGO*/


.logo {
    width:120px;
    height:auto;
    shape-rendering:crispEdges;
    margin:10px 10px;
}

.fas {
    color:var(--blue-color);
    font-size:1.6em;
    margin-top:5px;
}
.fab{
    font-size:2em;
    margin-right:20px;
    margin-bottom:25px;
    margin-top:20px;

}
.far {
    font-size:2em;
}


/*cta*/


.cta {
    background:var(--purple-color-gradient);
    font-size:1em;
    margin:0px auto;
    text-align:center;
    width:125px;
    margin-top:50px;
    padding:3px 3px;
    margin-bottom:50px;
}

.to-top {
    background:var(--purple-color-gradient);
    font-size:1.2em;
    margin:0px auto;
    text-align:center;
    width:125px;
    margin-top:50px;
    padding:10px 10px;
    margin-bottom:50px;
}

/*secondary navigation "explore" and "visit"*/

.navigation {

    display:inline-block;
    background:var(--blue-color-gradient);
    font-size:1em;
    padding:15px 10px;
    margin-bottom:20px;
    margin-right:10px;
}
/*explore div for second nav*/
.exhibitions {
    margin-left:16%;
    margin-right:16%;
}
/*visit div for second nav*/


/*images/illustrations/background/text over images*/

.white-blur-fullscreen-text {
    color:var(--white-text-color);
    background-color:var(--background-text-blur);
    padding:20px;
    width:50%;
    max-width:600px;
    position:absolute;
    margin:10% 25%;
    border-radius:25px 0px 25px 0px;
}
.background-size {
    width:100%;
    height:250px;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
}
.background-image {
    background-image:url(/images/explore-museum.jpg);
    margin-top:65px;
    height:200px;
    
}
.background-image-2 {
    background-image:url(/images/cosmology.jpg);
}
.background-image-3 {
    background-image:url(/images/galaxy.jpg);
}
.background-image-4 {
    background-image:url(/images/monkey-evolution.jpg);
    background-position:25% 25%;
}
.background-image-5 {
    background-image:url(/images/evolution.jpg);
}
.background-image-6 {
    background-image:url(/images/natural-selection1.jpg);
    background-position:left;
}
.background-image-7 {
    background-image:url(/images/human-skeleton.jpg);
}
.background-image-8 {
    background-image:url(/images/lab.jpg);
}
.background-image-9 {
    background-image:url(/images/ecology.jpg);
    background-position: center;
}
.background-image-10 {
    background-image:url(/images/solar-panel.jpg);
    background-position:bottom;
}
.background-image-11 {
    background-image:url(/images/vr-girl.jpg);
    background-position: center;
}
.background-image-12 {
    background-image:url(/images/Night-at-museum.jpg);
    background-position: center;
}
.background-image-13 {
    background-image:url(/images/moon.jpg); 
    background-position:center;
    margin-top:0px;
    overflow:hidden;
}
.illustration{
    display:block;
    margin:0px auto;
    max-width:75%;
}
/*museum visit/about main image*/
.image-size{
    width:100%;
    height:200px;
    background-size:cover;
    background-repeat:no-repeat;
    margin-top:75px;
}

/*footer*/

footer {
    text-align:center;
    color:#fff;
    padding-bottom:50px;
    background:var(--blue-color-gradient);
}
footer .fas {
    color:#fff;
}
footer p {
    padding-top:35px;
    font-family:georgia, verdana, arial;
    font-size:1.3em;
    max-width:75%;
    margin:0px auto;
}
footer ul li {
    font-style:italic;
    list-style-type:none;
    margin-top:10px;
}
.footer-navigation {
    display:inline-block;
    margin:0px auto;
    text-align:left;
    font-size:1.2em;
}
.copyright {
    margin-top:50px;
    font-family:georgia, verdana, arial;
}

/*Media Queries*/

@media (min-width: 600px){

    h1 {
        font-size:2.2em;
    }
    h2 {
        font-size:1.8em;
    }
.background-size {
    height:300px;
}
    /*explore image*/
    .background-image {
        background-position:center top -45px;
    }   
    /*monkey image*/
    .background-image-4 {
        background-position:25% 25%;
    }
    #monkey {
        object-position:25% 25%;
    }
    /* Flex images/half screen*/
    .images {
        height:350px;
        max-width:50%;
    }
    #monkey {
        object-position:25% 25%;
    }
    #claw {
        object-position:bottom;
    }
    /*museum main image*/
    .image-size {
        object-position: 25% 35%;
        margin-top:75px;
    }
    
/*NAV/icons/LOGO*/
nav {
    font-size:1.3em;
    margin-top:0px;
    padding:40px 150px 40px 40px;
}
nav li {
    margin-top:35px;
    margin-left:20px;
}
.logo {
    width:125px;
}
.fas {
    font-size:2em;
    margin-right:50px;
    margin-top:10px;
}
.fab{
    font-size:2em;
    margin-right:20px;
}
.far {
    font-size:2em;
}
}

@media (min-width: 800px){

    h1 {
        font-size:2.4em;
    }
    h2 {
        font-size:2em;
    }
.background-size {
        height:400px;
    }
 /*explore image*/
.background-image {
    background-position:bottom;
}
.background-image-2, .background-image-3, .background-image-5, .background-image-8 {
    background-position:center;
}   
.white-blur-fullscreen-text {
    margin:15% 20%;
}
/*museum main image*/
.image-size {
    height:250px;
}
/*NAV/icons/LOGO*/
nav {
    font-size:1.5em;
    padding:40px 150px 40px 40px;
}
nav li {
    margin-top:35px;
    margin-left:20px;
}
.logo {
    width:135px;
    margin:10px 10px;
}
.fas {
    margin-right:50px;
}
    }

@media (min-width: 1100px){

    .white-blur-fullscreen-text {
        margin:12% 15%;
    }
    .exhibitions {
        margin-left:20%;
        margin-right:20%;
    }
     /*explore image*/
    .background-image {
        background-position:center;
}
    /*museum main image*/
    .museum-image {
        object-position:
    }
}

@media (min-width: 1300px){

    h1 {
        font-size:3.5em;
    }
    h2 {
        font-size:2.8em;
    }   

/*Nav/header*/
header {
    flex-direction:column;
    align-items:center;
}
header .fas {
    display:none;
}
nav {
    position:static;
    display:block;
    font-size:1.3em;
    font-weight:500;
    padding:0px;
    z-index:1;
    margin:0px;
}
nav li {
    display:inline;
    margin-right:75px;
}
.logo {
    margin-top:10px;
    width:150px;
    margin-bottom:0px;
}

/* Social Icons*/
.fab{
    font-size:2.5em;
    margin-right:20px;
}
.far {
    font-size:2.5em;
}
/*explore div for second nav*/
.exhibitions {
    margin-left:22%;
    margin-right:22%;
}

/*Images*/
 
.background-size {
        height:500px;
    }
/*museum main image*/
.image-size {
    height:400px;
}
 /*explore image*/
.background-image {
    background-position:center;
}
.white-blur-fullscreen-text {
    margin:15% 25%;
}

}