
/*custom properties*/

:root {    
--white-text-color:#fff;
--blue-color:#0342A6;
--purple-color:#5B2ADE;
--background-text-blur:rgba(0, 0, 0, 0.2);
--blue-color-gradient:linear-gradient(to right bottom,#0460C9 , #0447CC, #03318C, #021946, #011640);
--purple-color-gradient:linear-gradient( to right bottom,#6B39F1, #5627D3, #441AB2, #2E107D, #1D0953, #14063A);
}

/*hamburger menu*/

ul li {
    margin-top:25px;
    list-style-type:none;
}

nav {
    display:none;
    background-color:#fff;
    font-size:1.1em;
    font-weight:500;
    position:absolute;
    right:0;
    margin-top:25px;
    padding-right:75px;
    padding-left:20px;
}

#hamburger-menu {
    display:none;
}
#hamburger-menu:checked ~ nav {
    display:block;
}
.drop-down {
    position:relative;
    margin-top:20px;
}
.fas {
    font-size:1.4em;
    margin-right:30px;
}
.inactive{
    opacity:50%;
}
/* Mobile first */

h1, h2, h3,h4, h5{
    font-family: Georgia, serif;
}

body {
    font-family:arial, Tahoma, sans-serif;
    margin:0px;
}
header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#fff;
    width:100%;
    
}
a {
    text-decoration:none;
    color:white;
}
/*half-screen images for "explore" and "visit"*/
.images {
    max-width:50%;
    height:300px;
    object-fit:cover;
}
.flex {
    display:flex;
    flex-direction:row;
}
/*for "explore" and "visit" category half-screen text*/
.category-text {
}
.text-width {
    width:50%;
}
/*icons/LOGO*/
.logo {
    width:120px;
    height:auto;
    shape-rendering:crispEdges;
    margin:10px 10px;
}

.fab, .far {
    display:none;
}
/*secondary navigation "explore" and "visit"*/
.navigation {
    background-color:var(--blue-color);
    font-size:1em;
    padding:15px 10px;
    display:inline-block;
    margin-bottom:5px;
    margin-right:10px;
    align-items:center;
}
.exhibitions {
   margin:0px auto;
}
footer {
    text-align:center;
    padding-top:25px;
    padding-bottom:50px;
}
