
/*custom properties*/

:root {    
--white-text-color:#fff;
--blue-color:#0342A6;
--purple-color:#5B2ADE;
--background-text-blur:rgba(0, 0, 0, 0.4);
--blue-color-gradient:linear-gradient(to right bottom,#0460C9 , #0447CC, #03318C, #021946, #011640);
--purple-color-gradient:linear-gradient( to right bottom,#6B39F1, #5627D3, #441AB2, #2E107D, #1D0953, #14063A);
}

/*hamburger menu*/
header nav li a {
    color:#000;
    text-decoration:none;
}
nav li {
    margin-top:20px;
}
nav ul {
    list-style-type:none;
}
nav {
    display:none;
    background-color:#fff;
    font-size:1.1em;
    font-weight:500;
    position:absolute;
    right:0;
    padding-top:20px;
    padding-right:75px;
    padding-left:20px;
    z-index:1;
}

#hamburger-menu {
    display:none;
}
#hamburger-menu:checked ~ nav {
    display:block;
}
.drop-down {
    position:relative;
    margin-top:20px;
}
.fas {
    font-size:1.4em;
    margin-right:35px;
}
.inactive{
    opacity:50%;
}
/* Mobile first */
h1, h2, h3,h4, h5{
    font-family: Georgia, serif;
}
li { 
   text-decoration:none; 
}
body {
    font-family:arial, Tahoma, sans-serif;
    margin:0px;
}
header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#fff;
    width:100%;
}
p{
    font-size:1em;
}
a {
    color:#fff;
    text-decoration:none;
}
/*contact link*/
.contact {
    color:var(--blue-color);
}
/*half-screen images for "explore" and "visit"*/
.images {
    min-width:50%;
    height:300px;
    object-fit:cover;
}
.flex {
    display:flex;
    flex-direction:row;
    justify-items:space-evenly;
}
/*for "explore" and "visit" category half-screen text*/
.category-text {
    max-width:65%;
    margin:0px auto;
    padding-top:40px
}
/*icons/LOGO*/
.logo {
    width:120px;
    height:auto;
    shape-rendering:crispEdges;
    margin:10px 10px;
}

.fab, .far {
    display:none;
}
/*cta*/
.cta {
    background:var(--purple-color-gradient);
    font-size:1em;
    margin:0px auto;
    text-align:center;
    width:125px;
    margin-top:50px;
    padding:3px 3px;
    margin-bottom:50px;
}

/*secondary navigation "explore" and "visit"*/
.navigation {
    background:var(--blue-color-gradient);
    font-size:1em;
    padding:15px 10px;
    display:inline-block;
    margin-bottom:20px;
    margin-right:10px;
    align-items:center;
}
.exhibitions {
   margin:0px auto;
}
/*images/illustrations/background/text over images*/
.white-blur-fullscreen-text {
    color:var(--white-text-color);
    background-color:var(--background-text-blur);
    padding:10px;
    width:75%;
    position:absolute;
    margin:80px 0px 0px 40px;
}
.background-image, .background-image-2, .background-image-3, .background-image-4, .background-image-5,
.background-image-6, .background-image-7, .background-image-8, .background-image-9, .background-image-10, .background-image-11 
,.background-image-12, .background-image-13 {
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    min-height:250px;
}
.background-image {
    background-image:url(/images/explore.jpg);
    min-height:200px;
}
.background-image-2 {
    background-image:url(/images/cosmology.jpg);
}
.background-image-3 {
    background-image:url(/images/galaxy.jpg);
}
.background-image-4 {
    background-image:url(/images/monkey-evolution.jpg);
    overflow:hidden;
    background-position:center -85px;
}
.background-image-5 {
    background-image:url(/images/evolution.jpg);
}
.background-image-6 {
    background-image:url(/images/natural-selection1.jpg);
    background-position:left;
}
.background-image-7 {
    background-image:url(/images/human-skeleton.jpg);
    overflow:hidden;
}
.background-image-8 {
    background-image:url(/images/lab.jpg);
}
.background-image-9 {
    background-image:url(/images/ecology.jpg);
    overflow:hidden;
    background-position: center;
}
.background-image-10 {
    background-image:url(/images/solar-panel.jpg);
}
.background-image-11 {
    background-image:url(/images/vr-girl.jpg);
    overflow:hidden;
    background-position: center;
}
.background-image-12 {
    background-image:url(/images/Night-at-museum.jpg);
    background-position: center;
}
.background-image-13 {
    background-image:url(/images/moon.jpg);
    background-position: bottom;
    overflow:hidden;
}
.illustration{
    max-width:75%;
    margin-left:15%;    
}
/*footer*/

footer {
    text-align:center;
    margin-top:
}
footer ul {
    list-style-type:none;
    text-align:left;
}
footer a {
    color:#000;
}
