/*Mobile*/
h1 {
    color:var(--white-text-color);
    text-align:center;
    font-weight:500;
    margin-top:150px;
    text-shadow:var(--text-shadow);
}
h2 {
    color:var(--white-text-color);
    text-align:center;
    font-weight:100;
    font-style:italic;
    margin-top:20px;
    margin-bottom:75px;
    text-shadow:var(--text-shadow);
}
h3, h4 {
    color:var(--white-text-color);
    font-size:1.3em;
    text-align:center;
    font-weight:500;
}
h3 {
    padding:15px;
    background-color:var(--background-text-blur);
    width:150px;
    margin:0px auto;
}
h5 {
    color:#000;
    font-weight:bold;
}
img {
    width:100%;
    height:300px;
    object-fit:cover;
}
main {
    width:75%;
    max-width:650px;
    margin:0px auto;
}
body {
    background-image:url(/images/Mainpicture.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:auto;

}
p {
    color:var(--white-text-color);
    width:72%;
    margin:0px auto;
    padding-bottom:40px;
}
.link {
    display:block;
    color:var(--white-text-color);
    background:var(--blue-color-gradient);
    font-size:1em;
    text-align:center;
    width:125px;
    padding:12px 12px;
    margin:0px auto;
}
/*background-color/blur*/
.blur {
    background-color:var(--background-text-blur);
    margin-top:50px;
}
/*images*/
.index-images{
    width:100%;
    max-width:750px;
    height:300px;
}
.flex {
    flex-grow:none;
}
/*index CTA*/
.CTA {
    display:inline-block;
    font-size:1em;
    background:var(--blue-color-gradient);
    text-shadow:var(--text-shadow);
    border-radius:50%;
    padding:40px 25px;
    color:var(--white-text-color);
    animation-name:color;
    animation:3s ease 1s infinite none running;
}
#purple-button {
    margin-left:30px;
    padding-left:35px;
    padding-right:35px;
    background:var(--purple-color-gradient);
}
.index-cta {
    text-align:center;
    margin-bottom:75px;
}
button {
    color:var(--white-text-color);
}
footer {
    background-color:#fff;
    margin-top:75px;
}

/*Media Queries*/

@media (min-width: 600px){
    h1 {
        margin-top:175px;
    }
    h2 {
        
    }
    h3, h4 {
        color:var(--white-text-color);
        font-size:1.4em;
        text-align:center;
        font-weight:500;
    }
    /*index CTA*/
    .CTA {
        font-size:1.1em;
        padding:45px 30px;
    }
    #purple-button {
        padding-left:40px;
        padding-right:40px;
    }
    .index-cta {
        text-align:center;
        margin-bottom:75px;
    }
}

@media (min-width: 800px){

h1 {
    margin-top:200px;
}
h2 {
    margin-top:40px;
    margin-bottom:75px;
}
/*index CTA*/
.CTA {
    margin-bottom:50px;
}
    /*images*/
.index-images{
    height:350px;
}
}

@media (min-width: 1300px){
    h1 {
        margin-top:275px;
    }
    h2 {
    }
    .blur {
        margin:25px;

    }
    h3 {
        font-size:1.7em;
        margin-bottom:30px;
        
    }
    h4 {
    
    }
    /*images*/
    .index-images{
        width:100%;
        height:350px;
    }
    .flex-index {
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
    }
    main {
        max-width:75%;
        max-width:1600px;
        margin:0px auto;
    }
}

@keyframes color {
    0%, 100%{
        background:blue;
    }
    50% {
        background:purple;
    }
}