/*Mobile*/
h1 {
    font-weight:500;
    max-width:600px;
    margin:0px auto;
    margin-top:35px;
    margin-bottom:40px;
}
h2 {
    margin-top:20px;
    font-weight:300;
    margin-bottom:30px;
    margin-top:50px;
    
}
h4 {
    font-size:2em;
    background-color:var(--background-text-blur);
    font-weight:100;
    text-align:center;
    color:var(--white-text-color);
    width:65%;
    margin:0px auto;
    margin-top:60px;
    text-shadow:var(--text-shadow);
}
h5 {
    color:#000;
    font-weight:bold;
    margin-top:0px;
}
img {
    min-width:100%;
    height:200px;
    object-fit:cover;
}

/*blue exhibitions/h3 header*/
h3 {
    font-size:1.4em;
    text-align:left;
    color:var(--white-text-color);
    background:var(--blue-color-gradient);
    max-width:150px;
    padding:10px 0px 10px 20px;
    margin-bottom:0px;
    margin-top:0px;
    text-shadow:var(--text-shadow);
}
/*opening hours/visit/admission*/
.visit-nav {
    margin:0px auto;
}
.section {
    width:75%;
    max-width:600px;
    margin:0px auto;
    margin-bottom:50px;
}
.open {
    margin-bottom:50px;
}
.bold-text {
    font-weight:700;
}
.opening-hours {
    margin-left:25px;
}
/* For kids/teachers/families */
.blue-background {
    background:var(--blue-color-gradient);
    min-height:350px;
}
.purple-background {
    background:url(/images/purple-background.jpeg)15%/ contain;
    min-height:350px;
}
.text-width {
    width:65%;
    margin:0px auto;
    margin-top:60px;
    color:#fff;
}
.section-2 {
    width:65%;
    max-width:600px;
    margin:0px auto;
    margin-top:45px;
    margin-bottom:45px;
}

/*Media Queries*/

@media (min-width: 600px){
    h4 {
        font-size:2.5em;
        margin-top:100px;
    }
/* For kids/teachers/families */
.blue-background {
    min-height:350px;
}
.purple-background {
    min-height:350px;
}
.text-width {
    margin-top:125px;
}
}
@media (min-width: 800px){
    h4 {
        font-size:2.5em;
        margin-top:150px;
    }
    h2 {
        font-size:1.6em;
    }
}
@media (min-width: 1100px){
    h2 {
        font-size:1.6em;
    }
}
@media (min-width: 1300px){
    h1 {
        font-size:3em;
    }
    h2 {
        font-size:1.8em;
    }
    h4 {
        font-size:3em;
        margin-top:175px;
    }
}

